@charset "utf-8";
/* CSS Document */


body{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	background-image:url("../image/PSX_20191027_233339.jpg")
	
}
.title{/*头部*/
	display: flex;
	padding: 0px,20px,0px,0px;
	justify-content:space-around;
	align-items: center;
	height: 15rem;
	background-color: deepskyblue;
	 
}
.title div{
	margin-left: 20%; 
	flex-grow: 2
}

.title img{
	width:auto;
        height:auto;
        max-width:10rem;
        max-height:10rem;
}

.title h1{
	text-align: center;
	padding: 0,10rem;
	font-size: 50px;
	flex-grow:1;	
}

/*...................*/


.lead{/*导航适应设置*/
	float:right;
	margin:0,auto;
	position:fixed;
	padding: 20px,5px;
	background-color:#BEBEBE;
	height:30px;width: auto;
	top:0px;
	transition: 1s;
}


.navigation {/*普通导航栏适应布局*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0px,5px; 
  background:#bebebe;
}
.navigation a {
  display: block;
  font-weight: bold;
  color: #FFFFFF;
  background: #bebebe;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
	transition: 1s;
}

.navigation a:hover {/*导航悬停样式*/
  background:deepskyblue;
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px; 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
	  text-align: center;
  }
}

/*..........................*/


*, *::before, *::after {
  box-sizing: inherit;
}


.html {
  padding: 10px;
  display: flex;
  align-items: stretch;
}

.Stage {
  height: 40rem;
  padding: 30px; 
  filter: contrast(15);
  align-self: stretch;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Bubble {
  border-radius: 50%;
  display: inline-block;
  background: white;
  filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bubble:nth-child(1) {
  width: 100px;
  background-color: red;
  height: 100px;
  animation: one 5000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) alternate-reverse infinite;
}


.Bubble:nth-child(2) {
  width: 200px;
  height: 200px;
  
  background-color:yellow;
  animation: two 8000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) alternate-reverse infinite;
}

.Bubble:nth-child(3) {
  background-color: purple;
  width: 140px;
  height: 140px;
  animation: three 10000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) alternate-reverse infinite;
}

.Bubble:nth-child(4) {
  background-color: blue;
  width: 60px;
  height: 60px;
  animation: one 20000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) alternate-reverse infinite;
  position: relative;
  left: -300px;
}

.Bubble:nth-child(5) {
  background-color:deepskyblue;
  width: 80px;
  height: 80px;
  animation: two 6000ms cubic-bezier(0.680, -0.550, 0.265, 1.550) alternate-reverse infinite;
  position: relative;
  left: -300px;
}

@keyframes one {
  0% { transform: translate(20px, 50px) scale(0.7) }
  30% { transform: translate(100px, 80px) scale(1.1) }
  60% { transform: translate(200px, 200px) scale(1.8) }
  100% { transform: translate(50px, 10px) scale(0.8) }
}

@keyframes two {
  0% { transform: translate(100px, 200px) scale(1); }
  20% { transform: translate(20px, 120px) scale(1.8); }
  70% { transform: translate(80px, 20px) scale(1.2); }
  100% { transform: translate(150px, 160px) scale(0.4); }
}

@keyframes three {
  0% { transform: translate(-60px, 20px) scale(1.4) }
  20% { transform: translate(-200px, 0px) scale(1.2) }
  70% { transform: translate(-120px, -80px) scale(0.7) }
  100% { transform: translate(0, 60px) scale(1) }
}

