@charset "utf-8";
/* CSS Document */


body{font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: rgba(152,178,235,0.70);
	background-image: url("../image/PSX_20190716_233637.jpg");
		background-blend-mode: darken
}

.RankEditor{
	font: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
.title{/*头部*/
	display: flex;
	padding: 0px,20px,0px,0px;
	justify-content:space-around;
	align-items: center;
	text-align:center;
	height: 15rem;
	background-color: deepskyblue;
}

.title div{
	margin-left: 20%; 
	flex-grow: 2
}

.title img{
	width:auto;
        height:auto;
        max-width:10rem;
        max-height:10rem;
}

.title h1{
	text-align: center;
	padding: 0,10rem;
	font-size: 50px;
	flex-grow:1;	
}

.navigation {/*普通导航栏适应布局*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0px,5px; 
  background:#bebebe;
}
.navigation a {
  display: block;
  font-weight: bold;
  color: #FFFFFF;
  background: #bebebe;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
	transition: 1s;
}

.navigation a:hover {/*导航悬停样式*/
  background:deepskyblue;
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px; 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
	  text-align: center;
  }
}

.p1{margin: 0;
	font-size: 40px;
	text-align: center;
	color: aliceblue;
height: 20rem;
	background-color: rgba(84,84,84,1.00);
	background-image: url("../image/101813.57218437_o.jpg");
	background-size: 100%;
	background-blend-mode: multiply
}

.bar1{
	padding: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.box1{
	overflow: hidden;
	background-color: rgba(255,48,51,1.00);	
	border-radius: 5px;/*圆角*/
	box-shadow:0 0 15px #666;/*阴影*/
	transition: 0.5s all ease-in-out;
}
.box1:hover{filter: blur(3px) brightness(1.3);
border-radius: 20px;/*圆角*/}


.gpic1 {width: 40.5rem;
	transform:translateY(-10%) translateX(-0%)
}
.gpic2 {width: 42rem;
	transform:translateY(-8%) translateX(-4%)
}
.gpic3 {width: 42rem;
	transform:translateY(-17%) translateX(-0%)
}
.game1{width: 40rem;
	height: 15rem;	
}

.game2{width: 40rem;
	height: 15rem;
	
}
.game3{width: 40rem;
	height: 15rem;
	
}

.text{
	overflow: hidden;
	font-size: 16px;
	color:white;
	width: 40rem;
	text-align: center;
	margin: 30px 0;
	background-color:rgba(204,204,204,0.60);
	border-radius: 20px;
}
 
.p2{margin: 0;
	font-size: 40px;
	text-align: center;
	color: aliceblue;
	height: 20rem;
	background-color: rgba(84,84,84,1.00);
	background-image: url("../image/730F9UT12IIQ0031.jpg");
	background-size: 100%;
	background-blend-mode: multiply;
}

.bar2{display: flex;
	justify-content: space-around;
height:50rem;
	margin: 100px 0 0 20px;
}


.box2 a{
	color: aliceblue;
	text-align: center;
	font-size: 20px;
	text-decoration: none
}
.box2{animation: updown 2s;
	-moz-animation: updown 2s;
	-webkit-animation: updown 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
animation-timing-function:ease-in-out;
	transition: 0.5s;}
.box2:hover {
	font-size: 30px;
	color: rgba(0,0,88,1.00);
	text-shadow:1px 1px 5px white;
}
.ro{height: 20rem;
	width: 20rem;
overflow: hidden;
transition: 1s}
.ro:hover{height:30rem;
}


.pic4{
transform: translateX(-250px)}
.pic4 img{height: 30rem}

.pic5{
transform:translatex(-200px)}
.pic5 img{height: 35rem}

.pic6{
	transform: translateX(-250px)
}
.pic6 img{height: 30rem}


@keyframes updown{
	from{margin: 30px 0; }
	to{transform:60px 0; }
	
}

@-moz-keyframes updown{
	from{margin: 30px 0; }
	to{transform:60px 0; }
}

@-webkit-keyframes updown{
	from{margin: 30px 0; }
	to{transform:60px 0; }
}



/*.............footer..............*/

.footerd a:link, a:visited {/*设置链接样式*/
  display: block;
  width: 180px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #bebebe;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;

}

.footer{
	background-color: rgba(255,255,255,0.48);
	display: flex;
	flex-direction: column;
	margin: 10rem 20rem 0 20rem;
	min-width: 360px;
	
}
.ab{display: flex;
background-color: rgba(221,221,221,0.87);}

.footera{
	margin: 0;
	padding: 0 5px 0px;
	font-family:"josefin-sans";
	background-color: rgba(144,231,255,0.80)
}
.footera div{
	margin: 0;
	padding: 0 0 5px;
	}

.footertitle{font-size: 30px}

.footerb{
	align-items: flex-end;
	margin: 0 0 0 5px;background-color: rgba(221,221,221,0.87)
	}
.footerc{
	margin: 20px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	align-items:flex-end;
	justify-content: space-around;
	text-align: center;
	color: aliceblue
	
}
.x1{textfont-size: 16px;}
