@charset "utf-8";
/* CSS Document */

body{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	
}
.title{/*头部*/
	display: flex;
	padding: 0px,20px,0px,0px;
	justify-content:space-around;
	align-items: center;
	height: 15rem;
	background-color: deepskyblue;
	 
}
.title div{
	margin-left: 20%; 
	flex-grow: 2
}

.title img{
	width:auto;
        height:auto;
        max-width:10rem;
        max-height:10rem;
}

.title h1{
	text-align: center;
	padding: 0,10rem;
	font-size: 50px;
	flex-grow:1;	
}

/*...................*/

.lead {z-index: 100}
.lead a:link, .lead a:visited {/*设置链接样式*/
  display: block;
  width: 180px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #bebebe;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;
	
}

.lead a:hover,.lead a:active {
	background-color: #12CDFF;
}


/*。。。。。。。。。*/


.lead{/*导航适应设置*/
	float:right;
	margin:0,auto;
	position:fixed;
	padding: 20px,5px;
	background-color:#BEBEBE;
	height:30px;width: auto;
	top:0px;
	transition: 1s;
}


.navigation {/*普通导航栏适应布局*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0px,5px; 
  background:#bebebe;
}
.navigation a {
  display: block;
  font-weight: bold;
  color: #FFFFFF;
  background: #bebebe;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
	transition: 1s;
}

.navigation a:hover {/*导航悬停样式*/
  background:deepskyblue;
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px; 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
	  text-align: center;
  }
}

/*。。。。。。。。。*/

.h3{text-align: center}

.box3 {/*整体图片栏目*/
	display:flex;
	height: 15rem;
	align-items:center;/*水平方向顶端对齐*/
	justify-content: center;/*元素行内居中*/
	}

.box2{
	height: 16rem;
}
.box1{
	flex-grow: 1;/*等比例增长*/
	height: 15rem;
	width: 20rem;
	overflow: hidden;/*隐藏多余部分*/
}

.box3 img{
	width: 20rem;
	transition:0.5s;
}

.box2 p{
	transform: scale(1);
	opacity: 0%;
	transform: scale(1.5);
	transition: 1s
}

.box3 :hover img{
	opacity: 100%;
	transform: scale(1.05);
	filter: brightness(2)
}


/*..........精彩推送..........*/

.pushing{  	/*标题*/
	width: inherit;
	text-align: center; }	
#float1 {
	display: flex;
	align-items: center;
	flex-direction: column;	
}

#float1 table{/*表格*/
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;		
}

/*.........卡片...........*/
.card1 {
	
	border-radius: 20px;/*圆角*/
	box-shadow:0 0 15px #666;/*阴影*/
	margin:40px;/*左右留白*/
	padding: 20px;
	width:40rem;
	background-color: rgba(231,225,227,1.00);
	text-align: center;	
	}
.pushpic1{  /*图片外的盒子*/
	width:12rem;
	height: 15rem;
	margin: 0;
	padding: 0;
	overflow: hidden;}
.pushpic1 img{  /*图片本身*/
	text-align: center;
	width:18rem;
	height: auto;
transform:translateY(-5%) translateX(-5%)
}
	
/*...........卡片2................*/
.card2 {
	background-color: rgba(212,255,255,0.3);
	border-radius: 20px;/*圆角*/
	box-shadow:0 0 15px #666;/*阴影*/
	margin:40px;/*左右留白*/
	padding: 20px;
	width:40rem;
	text-align: center;	
	/*background: url("../image/图怪兽_6c2e590e0981cb8d9cbc19323b58f1cc_30784.jpg");
	background-position: -30%, -20%;
	backgro*/
}



.pushpic2{  /*图片外的盒子*/
	width:12rem;
	height: 15rem;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.pushpic2 img{  /*图片本身*/
	text-align: center;
	width:29rem;
	height: auto;
transform:translateY(-3%) translateX(-55%)}


.clink {color: black;
	text-decoration: none;
	font-size: 15px;
	transition: 1s;
	}
.clink :hover {
	background-color: rgba(153,155,157,1.00);
	color: white;
	
	
}


/*........问卷...........*/

.form{
	margin:100px 15rem;
	padding: 10px;
	box-shadow: 1px 1px 10px 2px #666;
}


	

/*.........rate..........*/

.rate{
	display: flex;
	flex-direction: column;/*基线垂直*/
	justify-content: center;/*基线对齐，标题在HTML里设定居中*/
	background-color: rgba(100,184,255,1.00);
	margin: 0 ;}
.input {
  position: relative;
  margin: 1em;
  width: calc(50% - 2em);
  height: 80px;
}	


.rate div{
	margin:0 10rem
}

/*.............footer..............*/

.footerd a:link, a:visited {/*设置链接样式*/
  display: block;
  width: 180px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #bebebe;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;

}
.footer a:visited{display: block;
  width: 180px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #bebebe;
  text-align: center;
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer{
	display: flex;
	flex-direction: column;
	margin: 10rem 20rem 0 20rem;
	min-width: 360px;
	
}
.ab{display: flex;
background-color: rgba(221,221,221,0.87);}

.footera{
	margin: 0;
	padding: 0 5px 0px;
	font-family:"josefin-sans";
	background-color: rgba(144,231,255,0.80)
}
.footera div{
	margin: 0;
	padding: 0 0 5px;
	}

.footertitle{font-size: 30px}

.footerb{
	align-items: flex-end;
	margin: 0 0 0 5px;background-color: rgba(221,221,221,0.87)
	}
.footerc{
	margin: 20px 0 0 0;
	display: flex;
	flex-wrap: wrap;
	align-items:flex-end;
	justify-content: space-around;
	text-align: center;
	
}
.p1{textfont-size: 16px;}


