@charset "utf-8";
/* CSS Document */


body{font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		text-align: center;
	background:rgba(12,0,0,1.00) 
	
}
.title{/*头部*/
	display: flex;
	padding: 0px,20px,0px,0px;
	justify-content:space-around;
	align-items: center;
	height: 15rem;
	background-color: deepskyblue;
	 
}
.title div{
	margin-left: 20%; 
	flex-grow: 2
}

.title img{
	width:auto;
        height:auto;
        max-width:10rem;
        max-height:10rem;
}

.title h1{
	text-align: center;
	padding: 0,10rem;
	font-size: 50px;
	flex-grow:1;	
}

/*...................................*/

.lead{/*导航适应设置*/
	float:right;
	margin:0,auto;
	position:fixed;
	padding: 20px,5px;
	background-color:#BEBEBE;
	height:30px;width: auto;
	top:0px;
	transition: 1s;
}


.navigation {/*普通导航栏适应布局*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0px,5px; 
  background:#bebebe;
}
.navigation a {
  display: block;
  font-weight: bold;
  color: #FFFFFF;
  background: #bebebe;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
	transition: 1s;
}

.navigation a:hover {/*导航悬停样式*/
  background:deepskyblue;
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a { 
    text-align: center; 
    padding: 10px; 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
	  text-align: center;
  }
}

/*.................................*/
.stage{
height: 20rem;
align-content: center;
	font-size: 12px;
	padding:8rem
	
}

 /*BLUE*/
body, .button:after {
  background: rgba(41,41,41,1.00);
}
.ctn {
  display: block;
  margin: auto;
  text-align: center;
}
  .b-blue, .b-blue:before {
    background: rgba(5,118,255,1);
    background: -moz-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(5,118,255,1)), color-stop(100%, rgba(36,248,255,1)));
    background: -webkit-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -o-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    background: linear-gradient(45deg, rgba(5,118,255,1) 0%, rgba(36,248,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0576ff', endColorstr='#24f8ff', GradientType=1 );
  }

.button {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  text-decoration: none;
  padding: .5em;
  margin: .5em;
  font-size: 2em;
  font-weight: bold;
  transition: all .5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, .75);
}
.button:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}
.button:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}
.button:after {
  content: '';
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 5px;
  transition: all .5s;
}
.button2 {
  display: inline-block;
  font-size: 2em;
  margin: .5em;
  padding: .5em;
  border-radius: 5px;
  transition: all .5s;
  filter: hue-rotate(0deg);
  color: #FFF;
  text-decoration: none;
}
/*END BASE BUTTON*/
/*ROTATE*/
.rot-360-noscoop:hover {
  filter: hue-rotate(360deg);
  transform: rotate(360deg);
}
.rot-135:hover {
  filter: hue-rotate(135deg);
}
.rot-90:hover {
  filter: hue-rotate(90deg);
}